body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 8px 24px;
}

.right-links {
    display: flex;
    gap: 16px;
}

.container-two {
    display: flex;
    background-color: #1F2937;
    padding: 48px 24px;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.container-two-left {
    max-width: 500px;
}

.crop {
    height: 200px;
    width: 300px;
    overflow: hidden;
}

.butterfly {
    margin-top: -120px;
}

.container-three {
    display: flex;
    justify-content: center;
}

.container-four {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 210px;
    justify-content: center;
    gap: 0px
}

.butterfly-legs {
    width: 200px;
    margin-top: -10px;
}

.butterfly-camo {
    width: 300px;
    margin-left: -45px;
    margin-top: -20px;
}

.butterfly-food {
    width: 200px;
    margin-top: -10px;
}

.butterfly-packs {
    width: 300px;
    margin-top: -10px;
}

.card > p {
    text-align: center;
    margin: 8px 0px;
    color: #98999b;
}

.placeholder {
    height: 200px;
    width: 200px;
    border: 5px;
    border-radius: 8px;
    border-color: #3882F6;
    border-style: solid;
    overflow: hidden;
}

.container-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
    margin: 32px;
    margin-bottom: 0px;
}

.author {
    color: #1F2937;
    font-weight: bolder;
    width: 800px;
    text-align: end;
    margin-top: 0px;
}

.container-six-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.container-six {
    display: flex;
    width: 1000px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    gap: 132px;
    border-radius: 8px;
}

.container-six > button {
    border-color: white;
    border: solid;
}

.call-to-action {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-small {
    font-size: 16px;
    color: white;
}

.container-seven {
    background-color: #1F2937;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

p, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 0;
    margin: 0 0 0 -1.5px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border: none;
    text-align: center;
    border-radius: 8px;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
